In [10]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [30]:
df_clean = pd.read_csv('E:/Kaggle/Water_Table/clean_Pump.csv', index_col = 0)
df_test = pd.read_csv('E:/Kaggle/Water_Table/Test_set_values.csv', index_col = 0)

In [31]:
print(df_clean.shape)
print(df_test.shape)

(59400, 25)
(14850, 39)

In [32]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59400 entries, 69572 to 26348
Data columns (total 25 columns):
amount_tsh               59400 non-null float64
gps_height               59400 non-null float64
installer                59400 non-null object
longitude                59400 non-null float64
latitude                 59400 non-null float64
wpt_name                 59400 non-null object
basin                    59400 non-null object
region_code              59400 non-null int64
district_code            59400 non-null int64
lga                      59400 non-null object
population               59400 non-null float64
public_meeting           59400 non-null object
scheme_management        59400 non-null object
permit                   59400 non-null object
extraction_type          59400 non-null object
extraction_type_class    59400 non-null object
management               59400 non-null object
payment_type             59400 non-null object
water_quality            59400 non-null object
quantity_group           59400 non-null object
source                   59400 non-null object
source_class             59400 non-null object
waterpoint_type          59400 non-null object
status_group             59400 non-null object
operational_year         59400 non-null float64
dtypes: float64(6), int64(2), object(17)
memory usage: 11.8+ MB

In [33]:
df_clean['installer'] = pd.factorize(df_clean['installer'])[0]
df_clean['wpt_name'] = pd.factorize(df_clean['wpt_name'])[0]
df_clean['basin'] = pd.factorize(df_clean['basin'])[0]
# df_clean['region_code'] = pd.factorize(df_clean['region_code'])[0]
# df_clean['district_code'] = pd.factorize(df_clean['district_code'])[0]
df_clean['lga'] = pd.factorize(df_clean['lga'])[0]
df_clean['public_meeting'] = pd.factorize(df_clean['public_meeting'])[0]
df_clean['scheme_management'] = pd.factorize(df_clean['scheme_management'])[0]
df_clean['extraction_type'] = pd.factorize(df_clean['extraction_type'])[0]
df_clean['extraction_type_class'] = pd.factorize(df_clean['extraction_type_class'])[0]
df_clean['management'] = pd.factorize(df_clean['management'])[0]
df_clean['payment_type'] = pd.factorize(df_clean['payment_type'])[0]
df_clean['water_quality'] = pd.factorize(df_clean['water_quality'])[0]
df_clean['operational_year'] = pd.factorize(df_clean['operational_year'])[0]
df_clean['quantity_group'] = pd.factorize(df_clean['quantity_group'])[0]
df_clean['source'] = pd.factorize(df_clean['source'])[0]
df_clean['source_class'] = pd.factorize(df_clean['source_class'])[0]
df_clean['waterpoint_type'] = pd.factorize(df_clean['waterpoint_type'])[0]



#df_clean.district_code.head(5)

In [34]:
df_clean.head()

,amount_tsh,gps_height,installer,longitude,latitude,wpt_name,basin,region_code,district_code,lga,...,extraction_type_class,management,payment_type,water_quality,quantity_group,source,source_class,waterpoint_type,status_group,operational_year
id,,,,,,,,,,,,,,,,,,,,,
69572,0.342846,7.715030,0,34.938093,-9.856322,0,0,11,5,0,...,0,0,0,0,0,0,0,0,functional,0
8776,0.021397,7.761946,1,34.698766,-2.147466,1,1,20,2,1,...,0,1,1,0,1,1,1,0,functional,1
34310,0.001417,4.045178,2,37.460664,-3.821329,2,2,21,4,2,...,0,0,2,0,0,2,1,1,functional,2
67743,0.005729,1.840139,3,38.486161,-11.155298,3,3,90,63,3,...,1,0,1,0,2,3,0,1,non functional,3
19728,0.079573,7.729288,4,31.130847,-1.825359,4,1,18,1,4,...,0,2,1,0,3,1,1,0,functional,4

In [18]:
X_train, y_train, X_test , y_test = train_test_split((df_clean.drop(['status_group'],axis = 1)), (df_clean['status_group']), test_size = 1/10, random_state = 454)

In [19]:
print (X_train.shape)
print (X_test.shape)
print (y_train.shape)
print (y_test.shape)

(53460, 24)
(53460,)
(5940, 24)
(5940,)