In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.offline as pyo
import seaborn as sns
from sklearn.preprocessing import MinMaxScaler

In [5]:
df_main = pd.read_csv('E:/Kaggle/Water_Table/Test_set_values.csv', index_col = 0)

## Handling Missing Values :

In [6]:
# Replacing 0 with NaN :
df_main['gps_height'].replace(0.0, np.nan, inplace=True)
df_main['population'].replace(0.0, np.nan, inplace=True)
df_main['amount_tsh'].replace(0.0, np.nan, inplace=True)
features = ['gps_height', 'population', 'amount_tsh']

In [7]:
# Total NaNs
df_main[features].isnull().sum()

gps_height     5211
population     5453
amount_tsh    10410
dtype: int64


The 3 variables with NaN can be replaced with means since they are int types and their mean values will make sence - amount_tsh , gps_height ,population.

In [8]:
df_main['amount_tsh'].fillna( df_main.groupby(['region', 'district_code'])['amount_tsh'].transform('mean'), inplace = True)
df_main['amount_tsh'].fillna( df_main.groupby(['region'])['amount_tsh'].transform('mean'), inplace = True)
df_main['amount_tsh'].fillna( df_main['amount_tsh'].mean(), inplace = True)


df_main['gps_height'].fillna( df_main.groupby(['region', 'district_code'])['amount_tsh'].transform('mean'), inplace = True)
df_main['gps_height'].fillna( df_main.groupby(['region'])['amount_tsh'].transform('mean'), inplace = True)
df_main['gps_height'].fillna( df_main['amount_tsh'].mean(), inplace = True)

df_main['population'].fillna( df_main.groupby(['region', 'district_code'])['amount_tsh'].transform('mean'), inplace = True)
df_main['population'].fillna( df_main.groupby(['region'])['amount_tsh'].transform('mean'), inplace = True)
df_main['population'].fillna( df_main['amount_tsh'].mean(), inplace = True)

#df_main.isnull().sum()
#val = df_main.groupby(['region', 'district_code'])['amount_tsh'].transform('mean')
#val.head()

In [9]:
# Scalering the 3 features
features = ['amount_tsh', 'gps_height', 'population']
scaler = MinMaxScaler(feature_range = (0,20))
df_main[features] = scaler.fit_transform(df_main[features])

In [10]:
# Finding NaNs
print(df_main['longitude'].min())
print(df_main['latitude'].min())
print(df_main['construction_year'].min())

0.0
-11.56459195
0

In [11]:
df_main['longitude'].replace(0.0, np.nan, inplace = True)
df_main['latitude'].replace(0.0, np.nan, inplace = True)
df_main['construction_year'].replace(0.0, np.nan, inplace = True)

feature = ['longitude', 'latitude', 'construction_year']
df_main[feature].isnull().sum()

longitude             457
latitude                0
construction_year    5260
dtype: int64

In [12]:
df_main['longitude'].fillna(df_main.groupby(['region','district_code'])['longitude'].transform('mean'), inplace = True)
df_main['longitude'].fillna(df_main.groupby(['region'])['longitude'].transform('mean'), inplace = True)

df_main['construction_year'].fillna(df_main.groupby(['region','district_code'])['construction_year'].transform('median'), inplace = True)
df_main['construction_year'].fillna(df_main.groupby(['region'])['construction_year'].transform('median'), inplace = True)
df_main['construction_year'].fillna(df_main['construction_year'].median(), inplace = True)

df_main[feature].isnull().sum()

longitude            0
latitude             0
construction_year    0
dtype: int64

In [13]:
df_main['operational_year'] = (pd.DatetimeIndex(df_main['date_recorded']).year ) - df_main.construction_year

## Data Cleaning

In [14]:
waste_features = ['recorded_by', 'payment','quantity','subvillage','num_private','construction_year', 'date_recorded']
df_clean = pd.DataFrame.copy(df_main)
df_clean.drop(waste_features, axis = 1, inplace = True)

In [15]:
df_clean.drop('management_group', axis = 1, inplace = True)
df_clean.drop('extraction_type_group', axis = 1 , inplace = True)
df_clean.drop('region', axis = 1, inplace = True)
df_clean.drop('source_type', axis = 1, inplace = True)
df_clean.drop('funder', axis = 1 , inplace = True)
df_clean.drop('waterpoint_type_group', axis = 1, inplace = True)
df_clean.drop('scheme_name', axis = 1, inplace = True)
df_clean.drop('quality_group', axis = 1, inplace = True)
df_clean.drop('ward', axis = 1 , inplace = True)

In [16]:
df_clean['installer'].fillna('others', inplace = True)
df_clean['public_meeting'].fillna('others', inplace = True)
df_clean['scheme_management'].fillna('others', inplace = True)
df_clean['permit'].fillna('others', inplace = True)

df_clean.isnull().sum()
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14850 entries, 50785 to 68707
Data columns (total 24 columns):
amount_tsh               14850 non-null float64
gps_height               14850 non-null float64
installer                14850 non-null object
longitude                14850 non-null float64
latitude                 14850 non-null float64
wpt_name                 14850 non-null object
basin                    14850 non-null object
region_code              14850 non-null int64
district_code            14850 non-null int64
lga                      14850 non-null object
population               14850 non-null float64
public_meeting           14850 non-null object
scheme_management        14850 non-null object
permit                   14850 non-null object
extraction_type          14850 non-null object
extraction_type_class    14850 non-null object
management               14850 non-null object
payment_type             14850 non-null object
water_quality            14850 non-null object
quantity_group           14850 non-null object
source                   14850 non-null object
source_class             14850 non-null object
waterpoint_type          14850 non-null object
operational_year         14850 non-null float64
dtypes: float64(6), int64(2), object(16)
memory usage: 2.8+ MB

In [17]:
df_clean.columns = map(str.lower, df_clean.columns)

In [20]:
df_clean['installer'] = pd.factorize(df_clean['installer'])[0]
df_clean['wpt_name'] = pd.factorize(df_clean['wpt_name'])[0]
df_clean['basin'] = pd.factorize(df_clean['basin'])[0]
df_clean['lga'] = pd.factorize(df_clean['lga'])[0]
df_clean['public_meeting'] = pd.factorize(df_clean['public_meeting'])[0]
df_clean['scheme_management'] = pd.factorize(df_clean['scheme_management'])[0]
df_clean['extraction_type'] = pd.factorize(df_clean['extraction_type'])[0]
df_clean['extraction_type_class'] = pd.factorize(df_clean['extraction_type_class'])[0]
df_clean['management'] = pd.factorize(df_clean['management'])[0]
df_clean['payment_type'] = pd.factorize(df_clean['payment_type'])[0]
df_clean['water_quality'] = pd.factorize(df_clean['water_quality'])[0]
df_clean['quantity_group'] = pd.factorize(df_clean['quantity_group'])[0]
df_clean['source'] = pd.factorize(df_clean['source'])[0]
df_clean['source_class'] = pd.factorize(df_clean['source_class'])[0]
df_clean['waterpoint_type'] = pd.factorize(df_clean['waterpoint_type'])[0]
df_clean['permit'] = pd.factorize(df_clean['region_code'])[0]

In [21]:
df_clean.head()

,amount_tsh,gps_height,installer,longitude,latitude,wpt_name,basin,region_code,district_code,lga,...,extraction_type,extraction_type_class,management,payment_type,water_quality,quantity_group,source,source_class,waterpoint_type,operational_year
id,,,,,,,,,,,,,,,,,,,,,
50785,0.770266,14.488356,0,35.290799,-4.059696,0,0,21,3,0,...,0,0,0,0,0,0,0,0,0,1.0
51630,0.132480,11.474947,1,36.656709,-3.309214,1,1,2,2,1,...,1,1,1,0,0,1,1,1,1,13.0
17168,0.144076,11.460833,2,34.767863,-5.004344,2,0,13,2,2,...,0,0,1,0,0,1,0,0,0,3.0
45559,0.039813,2.286521,3,38.058046,-9.418672,3,2,80,43,3,...,0,0,1,1,0,2,2,1,0,26.0
49871,0.049980,9.294284,4,35.006123,-10.950412,4,2,10,3,4,...,1,1,2,2,0,3,1,1,1,13.0

In [23]:
df_clean.isnull().sum()

amount_tsh               0
gps_height               0
installer                0
longitude                0
latitude                 0
wpt_name                 0
basin                    0
region_code              0
district_code            0
lga                      0
population               0
public_meeting           0
scheme_management        0
permit                   0
extraction_type          0
extraction_type_class    0
management               0
payment_type             0
water_quality            0
quantity_group           0
source                   0
source_class             0
waterpoint_type          0
operational_year         0
dtype: int64

In [24]:
    pd.DataFrame(df_clean).to_csv('E:/Kaggle/Water_Table/clean_test_Pump.csv')