In [44]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier

In [35]:
df_clean = pd.read_csv('E:/Kaggle/Water_Table/clean_Pump.csv', index_col = 0)
df_test = pd.read_csv('E:/Kaggle/Water_Table/Test_set_values.csv', index_col = 0)

In [36]:
print(df_clean.shape)
print(df_test.shape)

(59400, 25)
(14850, 39)

In [37]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59400 entries, 69572 to 26348
Data columns (total 25 columns):
amount_tsh               59400 non-null float64
gps_height               59400 non-null float64
installer                59400 non-null object
longitude                59400 non-null float64
latitude                 59400 non-null float64
wpt_name                 59400 non-null object
basin                    59400 non-null object
region_code              59400 non-null int64
district_code            59400 non-null int64
lga                      59400 non-null object
population               59400 non-null float64
public_meeting           59400 non-null object
scheme_management        59400 non-null object
permit                   59400 non-null object
extraction_type          59400 non-null object
extraction_type_class    59400 non-null object
management               59400 non-null object
payment_type             59400 non-null object
water_quality            59400 non-null object
quantity_group           59400 non-null object
source                   59400 non-null object
source_class             59400 non-null object
waterpoint_type          59400 non-null object
status_group             59400 non-null object
operational_year         59400 non-null float64
dtypes: float64(6), int64(2), object(17)
memory usage: 11.8+ MB

In [38]:
df_clean['installer'] = pd.factorize(df_clean['installer'])[0]
df_clean['wpt_name'] = pd.factorize(df_clean['wpt_name'])[0]
df_clean['basin'] = pd.factorize(df_clean['basin'])[0]
df_clean['lga'] = pd.factorize(df_clean['lga'])[0]
df_clean['public_meeting'] = pd.factorize(df_clean['public_meeting'])[0]
df_clean['scheme_management'] = pd.factorize(df_clean['scheme_management'])[0]
df_clean['extraction_type'] = pd.factorize(df_clean['extraction_type'])[0]
df_clean['extraction_type_class'] = pd.factorize(df_clean['extraction_type_class'])[0]
df_clean['management'] = pd.factorize(df_clean['management'])[0]
df_clean['payment_type'] = pd.factorize(df_clean['payment_type'])[0]
df_clean['water_quality'] = pd.factorize(df_clean['water_quality'])[0]
df_clean['quantity_group'] = pd.factorize(df_clean['quantity_group'])[0]
df_clean['source'] = pd.factorize(df_clean['source'])[0]
df_clean['source_class'] = pd.factorize(df_clean['source_class'])[0]
df_clean['waterpoint_type'] = pd.factorize(df_clean['waterpoint_type'])[0]
df_clean['permit'] = pd.factorize(df_clean['region_code'])[0]

# df_clean['district_code'] = pd.factorize(df_clean['district_code'])[0]

#df_clean.district_code.head(5)

In [39]:
df_clean.head()

,amount_tsh,gps_height,installer,longitude,latitude,wpt_name,basin,region_code,district_code,lga,...,extraction_type_class,management,payment_type,water_quality,quantity_group,source,source_class,waterpoint_type,status_group,operational_year
id,,,,,,,,,,,,,,,,,,,,,
69572,0.342846,7.715030,0,34.938093,-9.856322,0,0,11,5,0,...,0,0,0,0,0,0,0,0,functional,12.0
8776,0.021397,7.761946,1,34.698766,-2.147466,1,1,20,2,1,...,0,1,1,0,1,1,1,0,functional,3.0
34310,0.001417,4.045178,2,37.460664,-3.821329,2,2,21,4,2,...,0,0,2,0,0,2,1,1,functional,4.0
67743,0.005729,1.840139,3,38.486161,-11.155298,3,3,90,63,3,...,1,0,1,0,2,3,0,1,non functional,27.0
19728,0.079573,7.729288,4,31.130847,-1.825359,4,1,18,1,4,...,0,2,1,0,3,1,1,0,functional,11.0

In [40]:
X_train, y_train, X_test , y_test = train_test_split((df_clean.drop(['status_group'],axis = 1)), (df_clean['status_group']), test_size = 1/10, random_state = 454)

In [47]:
print (X_train.shape)
print (X_test.shape)
print (y_train.shape)
print (y_test.shape)

(53460, 24)
(53460,)
(5940, 24)
(5940,)

### Random Forest Model

In [45]:
model_RF = RandomForestClassifier(n_estimators = 1000)

In [48]:
cross_val_score(model_RF, X_train, X_test, cv = 3)

array([0.80024689, 0.8048712 , 0.80431001])

In [49]:
model_RF.fit(X_train, X_test)
importance = model_RF.feature_importances_

[0.02960463 0.06355275 0.03910427 0.11995516 0.11854201 0.08875351
 0.0146556  0.01557006 0.02002981 0.02779218 0.04473925 0.01036197
 0.01474456 0.01954278 0.03727811 0.03666033 0.01568905 0.02871842
 0.01293514 0.1043644  0.02422693 0.00858635 0.04382007 0.06077267]

In [55]:
print(importance * 100)

[ 2.96046255  6.35527538  3.91042681 11.99551608 11.85420143  8.87535104
  1.46555991  1.55700551  2.00298148  2.77921762  4.47392487  1.03619695
  1.47445648  1.95427826  3.72781102  3.6660331   1.56890469  2.87184192
  1.29351353 10.43643954  2.42269295  0.8586346   4.38200733  6.07726696]