In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
from sklearn.metrics import accuracy_score

In [2]:
df_clean = pd.read_csv('E:/Kaggle/Water_Table/clean_Pump.csv', index_col = 0)
df_test = pd.read_csv('E:/Kaggle/Water_Table/clean_test_Pump.csv')

In [3]:
print(df_clean.shape)
print(df_test.shape)

(59400, 25)
(14850, 25)

In [4]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59400 entries, 69572 to 26348
Data columns (total 25 columns):
amount_tsh               59400 non-null float64
gps_height               59400 non-null float64
installer                59400 non-null object
longitude                59400 non-null float64
latitude                 59400 non-null float64
wpt_name                 59400 non-null object
basin                    59400 non-null object
region_code              59400 non-null int64
district_code            59400 non-null int64
lga                      59400 non-null object
population               59400 non-null float64
public_meeting           59400 non-null object
scheme_management        59400 non-null object
permit                   59400 non-null object
extraction_type          59400 non-null object
extraction_type_class    59400 non-null object
management               59400 non-null object
payment_type             59400 non-null object
water_quality            59400 non-null object
quantity_group           59400 non-null object
source                   59400 non-null object
source_class             59400 non-null object
waterpoint_type          59400 non-null object
status_group             59400 non-null object
operational_year         59400 non-null float64
dtypes: float64(6), int64(2), object(17)
memory usage: 11.8+ MB

In [5]:
df_clean['installer'] = pd.factorize(df_clean['installer'])[0]
df_clean['wpt_name'] = pd.factorize(df_clean['wpt_name'])[0]
df_clean['basin'] = pd.factorize(df_clean['basin'])[0]
df_clean['lga'] = pd.factorize(df_clean['lga'])[0]
df_clean['public_meeting'] = pd.factorize(df_clean['public_meeting'])[0]
df_clean['scheme_management'] = pd.factorize(df_clean['scheme_management'])[0]
df_clean['extraction_type'] = pd.factorize(df_clean['extraction_type'])[0]
df_clean['extraction_type_class'] = pd.factorize(df_clean['extraction_type_class'])[0]
df_clean['management'] = pd.factorize(df_clean['management'])[0]
df_clean['payment_type'] = pd.factorize(df_clean['payment_type'])[0]
df_clean['water_quality'] = pd.factorize(df_clean['water_quality'])[0]
df_clean['quantity_group'] = pd.factorize(df_clean['quantity_group'])[0]
df_clean['source'] = pd.factorize(df_clean['source'])[0]
df_clean['source_class'] = pd.factorize(df_clean['source_class'])[0]
df_clean['waterpoint_type'] = pd.factorize(df_clean['waterpoint_type'])[0]
df_clean['permit'] = pd.factorize(df_clean['region_code'])[0]
df_clean['status_group'] = pd.factorize(df_clean['status_group'])[0]


# df_clean['district_code'] = pd.factorize(df_clean['district_code'])[0]

#df_clean.district_code.head(5)

In [6]:
df_clean.head()

,amount_tsh,gps_height,installer,longitude,latitude,wpt_name,basin,region_code,district_code,lga,...,extraction_type_class,management,payment_type,water_quality,quantity_group,source,source_class,waterpoint_type,status_group,operational_year
id,,,,,,,,,,,,,,,,,,,,,
69572,0.342846,7.715030,0,34.938093,-9.856322,0,0,11,5,0,...,0,0,0,0,0,0,0,0,0,12.0
8776,0.021397,7.761946,1,34.698766,-2.147466,1,1,20,2,1,...,0,1,1,0,1,1,1,0,0,3.0
34310,0.001417,4.045178,2,37.460664,-3.821329,2,2,21,4,2,...,0,0,2,0,0,2,1,1,0,4.0
67743,0.005729,1.840139,3,38.486161,-11.155298,3,3,90,63,3,...,1,0,1,0,2,3,0,1,1,27.0
19728,0.079573,7.729288,4,31.130847,-1.825359,4,1,18,1,4,...,0,2,1,0,3,1,1,0,0,11.0

In [7]:
X_train, X_test, y_train, y_test = train_test_split((df_clean.drop(['status_group'],axis = 1)), (df_clean['status_group']), test_size = 1/10, random_state = 454)

In [8]:
print (X_train.shape)
print (y_train.shape)
print (X_test.shape)
print (y_test.shape)

(53460, 24)
(53460,)
(5940, 24)
(5940,)

### Random Forest Model

In [9]:
#Initiatlising Random Forest Model
model_RF = RandomForestClassifier(n_estimators = 1000)

In [20]:
# Using Cross Validation 
cross_val_score(model_RF, X_train, y_train, cv = 3)

array([0.81129605, 0.80736862, 0.81036095, 0.81069959, 0.8174336 ,
       0.81144781, 0.81612421, 0.80864198, 0.80523854, 0.80333084])

In [10]:
model_RF = model_RF.fit(X_train, y_train)
importance = model_RF.feature_importances_
print(importance)

[0.0294916  0.06377126 0.03897238 0.11997371 0.11830318 0.08860789
 0.01487203 0.01534562 0.02001905 0.02785599 0.04459705 0.01028961
 0.01496751 0.0191391  0.03750991 0.03543821 0.01578104 0.02885061
 0.01289938 0.1060026  0.02403974 0.00865493 0.04377439 0.06084321]

In [11]:
y_pred_RF = model_RF.predict(X_test)

In [12]:
# Model Evaluation using RMSE
score = np.sqrt(mean_squared_error(y_test,y_pred_RF))
print('RMSE score with RF is -- ', score)

RMSE score with RF is --  0.5880401736201752

In [13]:
# Model Evaluation using Accuracy Score / Classification rate
classification_score = accuracy_score(y_test, y_pred_RF)
print(classification_score)

0.8097643097643098

### Extreme Gradient Boost Classifier

In [14]:
from xgboost import XGBClassifier
model_XGB = XGBClassifier(objective = 'multi:softmax', booster = 'gbtree', nrounds = 'min.error.idx', 
                      num_class = 4, maximize = False, eval_metric = 'merror', eta = .2,
                      max_depth = 14, colsample_bytree = .4)

In [15]:
model_XGB = model_XGB.fit(X_train, y_train)

[16:41:38] WARNING: C:\Users\Administrator\workspace\xgboost-win64_release_1.1.0\src\learner.cc:480:
Parameters: { maximize, nrounds } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.

In [63]:
y_pred_XBG = model_XGB.predict(X_test)

In [64]:
# Model Evaluation 
score = np.sqrt(mean_squared_error(y_test,y_pred_XBG))
print('RMSE Score is -- ', score)

RMSE Score is --  0.5898981250858474

In [65]:
# Model Evaluation using Accuracy Score / Classification rate
classification_score = accuracy_score(y_test, y_pred_XBG)
print(classification_score)

0.8090909090909091

### Generating Prediction on final Test Sample - submission file

In [19]:
df_test_temp = df_test.drop(['id'],axis = 1)
df_test_temp.head()
#df_test_temp.drop('id',axis = 1)


#y_pred = model_XGB.predict(df_test_temp)

,amount_tsh,gps_height,installer,longitude,latitude,wpt_name,basin,region_code,district_code,lga,...,extraction_type,extraction_type_class,management,payment_type,water_quality,quantity_group,source,source_class,waterpoint_type,operational_year
0,0.770266,14.488356,0,35.290799,-4.059696,0,0,21,3,0,...,0,0,0,0,0,0,0,0,0,1.0
1,0.132480,11.474947,1,36.656709,-3.309214,1,1,2,2,1,...,1,1,1,0,0,1,1,1,1,13.0
2,0.144076,11.460833,2,34.767863,-5.004344,2,0,13,2,2,...,0,0,1,0,0,1,0,0,0,3.0
3,0.039813,2.286521,3,38.058046,-9.418672,3,2,80,43,3,...,0,0,1,1,0,2,2,1,0,26.0
4,0.049980,9.294284,4,35.006123,-10.950412,4,2,10,3,4,...,1,1,2,2,0,3,1,1,1,13.0

In [20]:
type(df_test_temp)

pandas.core.frame.DataFrame

In [22]:
y_pred = model_RF.predict(df_test_temp)

In [24]:
type(y_pred)

numpy.ndarray

In [32]:
y_pred = pd.DataFrame(y_pred)
y_pred['id'] = df_test['id']
y_pred.column = ['id' , 'status group']
y_pred.head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  This is separate from the ipykernel package so we can avoid doing imports until

   status group     id
0             0  50785
1             0  51630
2             0  17168
3             1  45559
4             0  49871

In [33]:
pd.DataFrame(y_pred).to_csv('E:/Kaggle/Water_Table/y_pred.csv')